In [1]:
!pip3 install riotwatcher

Collecting riotwatcher
  Downloading riotwatcher-3.2.0-py3-none-any.whl (56 kB)
     |████████████████████████████████| 56 kB 3.8 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from riotwatcher) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->riotwatcher) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->riotwatcher) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->riotwatcher) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->riotwatcher) (2021.5.30)
Installing collected packages: riotwatcher
Successfully installed riotwatcher-3.2.0

In [28]:
from riotwatcher import LolWatcher, ApiError
import pandas as pd

#variáveis globais
api_key = 'RGAPI-9ac79a8b-9632-43b5-9bc6-2fbc4db2a4f2'
watcher = LolWatcher(api_key)
my_region = 'na1'
me = watcher.summoner.by_name(my_region, 'Doublelift')
print(me)

{'id': 'hMDkuC6Kii4MqadrK0pAtvk1fbux1hV3er7w8hRSMQt2qFc', 'accountId': 'yfqEZoEOehaMEaLrO0dSV94kwy36U35NRjyrE64AXdEMng', 'puuid': '4WBvjGr5_b4gxbd95H_ixsn23312PH5Q-kDSarEJjzVcPjEIMf3925IqhbyyduQMRMMDKAva61Yaqw', 'name': 'Doublelift', 'profileIconId': 4568, 'revisionDate': 1636147167000, 'summonerLevel': 274}

In [15]:
# Retorna o status do rank de Doublelift
my_ranked_stats = watcher.league.by_summoner(my_region, me['id'])
print(my_ranked_stats)

[{'leagueId': '2bd81059-a0ce-33d4-9fb0-86977c851f64', 'queueType': 'RANKED_SOLO_5x5', 'tier': 'CHALLENGER', 'rank': 'I', 'summonerId': 'hMDkuC6Kii4MqadrK0pAtvk1fbux1hV3er7w8hRSMQt2qFc', 'summonerName': 'Doublelift', 'leaguePoints': 937, 'wins': 346, 'losses': 301, 'veteran': False, 'inactive': False, 'freshBlood': False, 'hotStreak': False}]

In [72]:
# Acessando dados de partida
region = "americas"
my_matches = watcher.match.matchlist_by_puuid(region, me['puuid'])
last_match = my_matches[-1]
last_match

match_detail = watcher.match.by_id(region, last_match)

In [53]:
participants = []

for row in match_detail['info']['participants']:
  participants_row = {}
  participants_row['champion'] = row['championId']
  participants_row['summoner1Id'] = row['summoner1Id']
  participants_row['summoner2Id'] = row['summoner2Id']
  participants_row['win'] = row['win']
  participants_row['kills'] = row['kills']
  participants_row['deaths'] = row['deaths']
  participants_row['assists'] = row['assists']
  participants_row['totalDamageDealt'] = row['totalDamageDealt']
  participants_row['goldEarned'] = row['goldEarned']
  participants_row['champLevel'] = row['champLevel']
  participants_row['totalMinionsKilled'] = row['totalMinionsKilled']
  participants_row['item0'] = row['item0']
  participants_row['item1'] = row['item1']
  participants.append(participants_row)

df=pd.DataFrame(participants)
df

   champion  summoner1Id  summoner2Id  ...  totalMinionsKilled  item0  item1
0        39           12            4  ...                 208   3091   3044
1        13           12            4  ...                 236   1057   6656
2       163            4           11  ...                  34   3157   3916
3        21            4            7  ...                 284   3140   6692
4       235            3            4  ...                  26   2055   6632
5        85            4           12  ...                 237      0   3152
6       141            4           11  ...                  56   6630   3142
7       777            4           12  ...                 256   6333   3006
8       115           12            4  ...                 217   1058   6655
9       497           14            4  ...                  43   2421   3860

[10 rows x 13 columns]

In [71]:
# Acessando Data Dragon

# League lastest version
latest = watcher.data_dragon.versions_for_region(my_region)['n']['champion']
static_champ_list = watcher.data_dragon.champions(latest, False, 'en_US')

# Champ static list data to dict for looking up
champ_dict = {}
for key in static_champ_list['data']:
  row = static_champ_list['data'][key]
  champ_dict[row['key']] = row['id']

for row in participants:
  print(str(row['champion']) + ' ' + champ_dict[str(row['champion'])])
  row['championName'] = champ_dict[str(row['champion'])]

df = pd.DataFrame(participants)
df

# Outros tipos de informações como spells, runas, e itens estão disponíveis
# em DataDragon
# para mais informações, ler a doc da RIOT_API

39 Irelia
13 Ryze
163 Taliyah
21 MissFortune
235 Senna
85 Kennen
141 Kayn
777 Yone
115 Ziggs
497 Rakan

   champion  summoner1Id  summoner2Id  ...  item0  item1  championName
0        39           12            4  ...   3091   3044        Irelia
1        13           12            4  ...   1057   6656          Ryze
2       163            4           11  ...   3157   3916       Taliyah
3        21            4            7  ...   3140   6692   MissFortune
4       235            3            4  ...   2055   6632         Senna
5        85            4           12  ...      0   3152        Kennen
6       141            4           11  ...   6630   3142          Kayn
7       777            4           12  ...   6333   3006          Yone
8       115           12            4  ...   1058   6655         Ziggs
9       497           14            4  ...   2421   3860         Rakan

[10 rows x 14 columns]